<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Code #0{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="index,follow" />
    <script type="text/javascript" src="/static/form.js"></script>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/static/code.css" type="text/css" />
    <style type="text/css"> {{ css }} </style>
  </head>
  <body>
    <div id="header">
      <div id='codeid'>
        <span class='bracket'>[[</span>
        <i>Code #</i><strong>{{ ID }}</strong>
        <span class='bracket'>]]</span>
      </div>
      <h1 id='brand'>CodeLab</h1>
    </div><!-- header -->
    <div id="container">{% block content %}{% endblock %}</div>
    <div id="footer">&copy;2014 Dongsheng Cai</div>
    <div id='link'>
      <a href="/">Home</a> | 
      <a href="/latest/">List</a> | 
      <a href="http://github.com/dongsheng/pastebin">Source</a>
    </div>
  </body>
</html>
