{% extends "base.html" %}

{% block title %}Code #{{ ID }}{% endblock %}

{% block content %}
    <div id='opt'><span><a href="/{{ ID }}/raw">raw</a></span> | <span><a href="/{{ ID }}/rm">rm</a></span> | <span>{{ date }}</span></div>
    <div class='highlight'>
    {% autoescape off %}
        {{ code }}
    {% endautoescape %}
    </div>
    {% if content %}
        <blockquote>{{ content }}</blockquote>
    {% endif %}

    {% if author %}
    <i>-- {{ author }}</i>
    {% endif %}
{% endblock %}
