{% extends "base.html" %}

{% block title %}Code #0{% endblock %}

{% block content %}
<div id='speakform'>
<form action="/" method="post" id="mindform">
<table>
<tbody>
    <tr>
        <td class='l' colspan="2"><a class='btn' href="###" onclick="return submit_form("{{candycode}}")">Speak your mind</a></td>
    </tr>
    <tr>
        <td class='l' width="80px"><div id="icandy"></div><label>Code: </label></td><td><textarea name="code" rows="15" cols="72"></textarea></td>
    </tr>
    <tr>
        <td class='l'><label>Syntax: </label></td><td>
        <select name="lang">
            {% for lexer in lexers %}
            <option value="{{lexer.syn|lower}}">{{lexer.name}}</option>
            {% endfor %}
        </select>
        </td>
    </tr>
    <tr>
        <td colspan="2" class='l'><a href="###" id='domore'>more</a></td>
    </tr>
</tbody>
<tbody id="adv" style="display:none">
    <tr>
        <td class='l'><label>Title: </label></td><td>
            <input type="text" value="" name='title' size="30" />
        </td>
    </tr>
    <tr>
        <td class='l'><label>Author: </label></td><td><input type="text" value="" name='author' size="30" /></td>
    </tr>
    <tr>
        <td class='l'><label>Comment: </label></td><td><textarea name="content" rows="3" cols="60"></textarea></td>
    </tr>
</tbody>
</table>
</form>
</div>

{% endblock %}
