<!DOCTYPE html>
<html xml:lang="en" lang="en">
    <head>
        <title>Code #0</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="robots" content="index,follow" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="stylesheet" href="/static/code.css" type="text/css" />
        <script type='text/javascript'>
        var adv = false;
        function $(el) {
            var a = document.getElementById(el);
            if(a)
                return a;
            else
                return null;
        }
        window.onload = function(){
            var more = $('domore');
            if(more){
                more.onclick=function(){
                    if(!adv){
                        $('adv').style.display = '';
                        more.innerHTML = "less";
                        adv = true;
                    } else {
                        more.innerHTML = "more";
                        $('adv').style.display = 'none';
                        adv = false;
                    }
                }
            }
        }
        function submit_form(id) {
            var candy = $('icandy');
            if (candy) {
                var field = document.createElement('IN'+"PUT");
                field.type="HID"+'DEN';
                field.name="candycode";
                field.value=id;
                candy.appendChild(field);
            }
            var mindform = document.getElementById('mindform');
            return mindform.submit();
        }
        </script>
        <style type="text/css" media="screen,projection">
        /*<![CDATA[*/
        {{ css }}
        /*]]>*/
        </style>
    </head>
    <body>
        <div id="header">
            <div id='codeid'>
                <span class='bracket'>[[</span>
                <i>Code #</i> 
                <strong>0</strong>
                <span class='bracket'>]]</span>
            </div>
            <h1 id='brand'>CodeLab</h1>
        </div>
        <div id="container">
<div id='speakform'>
<form action="/" method="post" id="mindform">
<table>
<tbody>
    <tr>
        <td class='l' colspan="2"><a class='btn' href="###" onclick="return submit_form({{candycode}})">Speak your mind</a></td>
    </tr>
    <tr>
        <td class='l' width="80px"><div id="icandy"></div><label>Code: </label></td><td><textarea name="code" rows="15" cols="72"></textarea></td>
    </tr>
    <tr>
        <td class='l'><label>Syntax: </label></td><td>
        <select name="lang">
            {% for lexer in lexers %}
            <option value="{{lexer.syn|lower}}">{{lexer.name}}</option>
            {% endfor %}
        </select>
        </td>
    </tr>
    <tr>
        <td colspan="2" class='l'><a href="###" id='domore'>more</a></td>
    </tr>
</tbody>
<tbody id="adv" style="display:none">
    <tr>
        <td class='l'><label>Title: </label></td><td>
            <input type="text" value="" name='title' size="30" />
        </td>
    </tr>
    <tr>
        <td class='l'><label>Author: </label></td><td><input type="text" value="" name='author' size="30" /></td>
    </tr>
    <tr>
        <td class='l'><label>Comment: </label></td><td><textarea name="content" rows="3" cols="60"></textarea></td>
    </tr>
</tbody>
</table>
</form>
</div>
        </div><!-- container -->
        <div id="footer">
           &copy;2014 Dongsheng Cai
        </div>
        <div id='link'><a href="/">New</a> | <a href="/latest/">Latest</a> | <a href="http://github.com/dongsheng/pastebin">Source</a> | <a href="http://dongsheng.org/">About</a></div>
    </body>
</html>
